/**
 * All of the CSS for your admin facing functionality should be
 * included in this file.
 */

.cli-uploader-wrapper{}

.cli-uploader-wrapper img{
    cursor: pointer;
    max-width: 150px;
}

.cli_image_remove{
    cursor: pointer;
    display: inline-block;
    background: red;
    padding: 2px 5px;
    color: #fff;
    position: absolute;
}

@media only screen and (max-width: 600px) {}
