/**
 * All of the CSS for your admin facing functionality should be
 * included in this file.
 */

.cli-uploader-wrapper{}

.cli-uploader-wrapper img{
    cursor: pointer;
    max-width: 150px;
}

.cli_image_remove{
    cursor: pointer;
    display: inline-block;
    background: red;
    padding: 0px 3px 2px;
    color: #fff;
    position: absolute;
    border-radius: 100%;
}

th.column-cli_image{
    width: 50px;
}

td.column-cli_image img{
    width: 100%;
}

@media only screen and (max-width: 600px) {}
